@import url('https://fonts.googleapis.com/css?family=Comfortaa|Kaushan+Script|Oswald&display=swap');

:root {
  --main-color: #2e7ed9;
  --secondary-color: #84b0e1;
  --text-color: #1d4879;
  --secondary-text-color: #0f2743;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='50' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%232e7ed9' fill-opacity='0.06'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/* Navigation Bar */

#home {
  background-color:  var(--main-color);
  margin-left:-1cm;
  margin-right:-1cm;
  margin-top:-1cm;
  padding-top: 2cm;
  padding-bottom: 2cm;
  height: 5mm;
 }

.topmenu {
  color: rgb(255, 255, 255);
  margin: 10px;
  font-size: 26px;
  font-weight: normal;
  text-decoration: underline;
  font-family: Oswald, sans-serif;
}

.topmenu:hover {
  color: var(--secondary-text-color);
  /* Add the styles here */
}

.topdiv {
  float: right;
  padding-right: 1cm;
}

.profile_name {
  float: left;
  padding-left: 2cm;
  color: #fff;
  font-weight: lighter;
  font-family: Oswald, sans-serif;
  font-size: 20px;
  font-style: italic;
}

.profile_name .contact_info {
  font-size: 15px;
  font-style: italic;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: #fff;
  font-weight: lighter;
  font-family: Oswald, sans-serif;
}

.contact_info img {
  width:25px;
  margin-right: 10px;
  float:left;
}

/* Titles */

h2 {
  text-align: justify;
  font-size: 50px;
  float: left;
  color:  var(--text-color);
  margin: 40px;
  margin-left: 60px;
  margin-top: 40px;
  margin-bottom: 0px;
  font-family: Oswald, sans-serif;

}

.introduction {
  text-align: justify;
  font-size: 30px;
  float: left;
  margin-top: 30px;
  margin-bottom: 20px;
  animation-duration: 5s;
  position: relative;
}

/* Used in the About Me sections */

.container {
  display: flex;
  padding: auto;
  margin: 50px;
}

/* About Me */

.about-me {
  display: flex;
  align-items: center;
}

#about-me h1 {
  font-size: 65px;
  margin-top: 90px;
  color: var(--text-color);
  padding: auto;
  margin-bottom: 40px;
  margin-left: 60px;
  font-family: Kaushan Script, sans-serif;
  font-weight: 200;
}

#about-me p {
  font-size: 25px;
  margin-top: -1cm;
  color: var(--text-color);
  padding: auto;
  margin-left: 60px;
  margin-right: 40px;
  font-family: Oswald, sans-serif;
  font-weight: 80;
}

.profile_image {
  margin-top: 100px;
  width: 600px;
  height: fit-content;
  vertical-align: middle;
}

/* Skills */

.all_skills {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  background-color: #fff;
}

.skill {
  border: 1px solid gray;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 20px;
  width: 2in;
  font-size: 24px;
  font-family: Kaushan Script, sans-serif;
  font-weight: 200;
  color: var(--text-color);
  box-shadow: 0 3px 20px var(--secondary-color);
}

.skill img {
  padding-top: 2rem;
  height: 4rem;
  align-items: center;
}

.skills h6 {
  align-items: center;
  margin-block-start: 8px;
  margin-block-end: 5px;
  font-weight: bold;
} 

.skills p {
  align-items: center;
  font-size: 15px;
  margin-block-start: 5px;
  margin-block-end: 5px;
} 

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Projects */

.projects-container {
  margin-top: 30px;
  margin-left: 60px;
}

.projects-container hr {
  border: 1px solid lightgray;
  width: 75%;
  margin-left: 5cm;
}

.project_image {
  margin-top: 60px;
  width: 400px;
  height: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-card {
  margin: 0 25px 25px 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.project-card h3 {
  font-size: 25px;
  margin-left: 30px;
  font-family: Kaushan Script, sans-serif;
  font-weight: 200;
  color: var(--secondary-text-color);
}

.project-card li {
  font-size: 20px;
  margin-left: 30px;
  color: var(--text-color);
  font-family: Oswald, sans-serif;
}

/* Recommendations */

.all_recommendations {
  display: flex;
  align-items: center;
  margin-left: 1in;
  flex-direction: row;
  flex-flow: wrap;
  padding: 20px;
}

.recommendation {
  font-style: italic;
  text-align: left;
  width: 21.875rem;
  color: whitesmoke;
  background-color: var(--secondary-color);
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
  border: 1px solid var(--secondary-text-color);
  font-size: 20px;
  height:150px;
  font-family: Oswald, sans-serif;
}

.recommendation span {
  color: var(--secondary-color);
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

/* Scroll to Top Button */

.iconbutton{
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 3%;
  bottom: 3%;
  cursor: pointer;
  padding: 2px;
}

/* Form Pop-up */

.popup {
  width:400px;
  background-color: #e8bcf0;
  border-radius: 3mm;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  position: fixed;
  /* padding: 30px; */
  visibility: hidden;
}

.popup img {
  padding-top: 20px;
}

.popup button {
  background-color: #fff;
  border: 1px solid var(--secondary-text-color);
  color: var(--secondary-color);
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 20px;
  margin-left: 25%;
}

.popup button:hover {
  background-color: #fff;
  border: 2px solid var(--secondary-text-color);
  color: var(--secondary-text-color);
  display: block;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
  margin-left: 25%;
}

/* Recommendation Form */

input, textarea {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  margin: 10px;  
  width:100%;
}

fieldset {
  display: flexbox;
  align-content: center;
  justify-content: center;  
  padding: 25px; 
  margin-left: 50px; 
  margin-right: 50px;   
  border: thin solid white;
  width: 50%;
}

/* Buttons */

button {
  background-color: #fff;
  border: 1px solid var(--secondary-text-color);
  color: var(--secondary-text-color);
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 20px;
}

button:hover {
  background-color: var(--main-color);
  border: 1px solid var(--secondary-text-color);
  color: #fff;
  display: block;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}